body{
  width: 100%;
  height: 100%;
  background-image: url("..//img/bg.jpg"); ;
}

.wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 1200px;
  background-color: #aaa;
  border-radius: 10px;
}

.logo{
  width: 60px;
  height: 60px;
  background-image: url("..//img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 10px;
}

.button{
  margin: 10px 10px 10px 0;
  background-color: lightgreen;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: grey;
}

.cardholder{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 600px;
  margin: 60px 0 20px 0;
  background-color: #aaa;
  border-radius: 10px;
}
.modal{
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 300px;
  position: absolute;
  top: 50%;
  background-color: #fff;
  border-radius: 10px;
}
.choose-doctor{
  margin-bottom: 15px;
  height: 30px;
  width: 150px;
  margin-top: 15px;

}
.button-create{
  border-color: lightgreen;
  background-color: lightgreen;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.input-comment{
  overflow-y: scroll;
  width: 240px;

}
.close {
position: absolute;
right: 15px;
top: 15px;
width: 32px;
height: 32px;
}

.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 20px;
width: 3px;
background-color: black;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}
